.videoCard {
  position: relative;
  min-width: 44.5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: var(--secondary-text-color);
  border: 2px solid var(--light-border);
  border-radius: 6px;
  cursor: pointer;
}
.videoCard > div {
  display: flex;
  font-weight: var(--fw-medium);
  gap: 20px;
}
.videoCard span:last-of-type {
  font-size: smaller;
}
.videoCard video {
  width: 40%;
  height: auto;
  border-radius: 4px;
  transition: filter 0.5s ease;
}

.videoCard video:not(:hover) {
  filter: grayscale(100%);
}

.videoCard > a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-size: x-large;
}

.videoCard button {
  position: absolute;
  top: -10px;
  right: -10px;
  cursor: pointer;
  border: none;
  color: inherit;
  padding:0;
  background-color: transparent;
  font-size: x-large;
}
.videoCard button:is(:hover, :focus) {
  /* background-color: black; */
  color: var(--light-border);
}
